:root {
    --primary-bg: #eae7e7;
    --secondary-bg: #333333;
    --primary-color: #333333;
    --secondary-color: #ffffff;
    --cta-bg: #cccccc;
    --cta-hover-bg: #b3b3b3;
    --cta-color: #333333;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --box-shadow-hover-color: rgba(0, 0, 0, 0.2);
    --accent-color: #666666;
    --accent-hover-color: #999999;
    --border-color: #b3b3b3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--primary-bg);
    color: var(--primary-color);
    font-family: "Montserrat", serif;
    transition: background 0.5s, color 0.5s;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10rem;
    background-color: var(--secondary-bg);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.navbar a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
    font-family: "Montserrat", serif;
}

.navbar a:hover {
    color: var(--accent-color);
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-right: 1rem;
}

.main, .home, .about, .projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    animation: fadeIn 1s ease-in-out;
}

.main, .home {
    height: 90vh;
}

.about, .projects {
    padding: 35px;
    background-color: var(--secondary-bg);
    color: var(--secondary-color); 
}

.home h1{
    font-size: 3rem;
    color: var(--primary-color);
    animation: slideIn 1s ease-in-out;
    font-family: 'Playfair Display', Playfair, serif;
}

.about h1, .projectshead {
    font-size: 3rem;
    color: var(--secondary-color);
    animation: slideIn 1s ease-in-out;
    font-family: 'Playfair Display', Playfair, serif;
}

.cta-btn {
    font-family: "Montserrat", serif;
    padding: 0.5rem 1rem;
    background-color: var(--cta-bg);
    color: var(--cta-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    width: 150px;
    height: 50px;
    box-shadow: 0 0 10px var(--box-shadow-color);
    transition: background-color 0.5s, box-shadow 0.5s, transform 0.3s;
}

.cta-btn:hover {
    background-color: var(--cta-hover-bg);
    box-shadow: 0 0 20px var(--box-shadow-hover-color);
    transform: scale(1.05);
}

.logo {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Playfair Display', Playfair, serif;
    color: var(--secondary-color);
}

span {
    color: var(--accent-color);
    font-size: 20px;
    font-style: italic;
}

.proj_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    border: 10px solid var(--border-color);
    border-radius: 8px;
    padding: 20px;
    background-color: var(--secondary-bg);
    color: var(--secondary-color); 
    box-shadow: 0 0 30px var(--box-shadow-color);
    transition: box-shadow 0.3s, transform 0.3s;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hr {
    position: absolute;
    margin: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    height: 3px;
    background-color: var(--border-color);
    border-radius: 8px;
}

.projimg {
    border-radius: 12px;
    margin-bottom: 6px;
    transition: transform 0.3s, box-shadow 0.3s, border-radius 0.3s;
}

.projimg:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px var(--box-shadow-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    .navbar {
        padding: 1rem 5rem;
    }

    .main, .home, .about, .projects {
        padding: 2rem;
    }

    .cta-btn {
        font-size: 20px;
        width: 130px;
        height: 45px;
    }

    .home h1, .about h1, .projectshead {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 1rem 2rem;
        flex-direction: column;
    }

    .navbar ul li {
        margin-right: 0.5rem;
        flex-direction: column;
        width: 100%;
    }

    .main, .home, .about, .projects {
        padding: 1rem;
        height: auto;
    }

    .main{
        height:75vh;
    }

    .cta-btn {
        font-size: 18px;
        width: 120px;
        height: 40px;
    }
    .home h1, .about h1, .projectshead {
        font-size: 2rem;
    }
    .proj_cont{
        flex-direction: column;
        padding: 2rem;
    }
    .project{
        padding: 0.5rem;
}

@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar ul li {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    .cta-btn {
        font-size: 16px;
        width: 100px;
        height: 35px;
    }

    .home h1, .about h1, .projectshead {
        font-size: 1.5rem;
    }

    .proj_cont {
        flex-direction: column;
        padding: 2rem;
    }

    .main, .home, .about, .projects {
        padding: 1rem;
    }

    .main{
        height:75vh;
    }
}
}
